* {
    margin: 0px;
    padding: 0px;
    border: none;    
    box-sizing: border-box;
}

.dgv {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.dgvTitulos {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    background-color: rgb(60, 77, 163);
    border-radius: 5px 5px 0px 0px;
}

.dgvLinha div, .dgvLinha div {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.dgvLinha {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.dgvLinha:nth-child(odd) {
    background-color: #aaa;
}

.dgvLinha:nth-child(even) {
    background-color: #d4d4d4;
}   

.dgvLinha:hover {
    background-color: rgb(97, 139, 160) !important;
    cursor: pointer;
    color: white;
}

.coluna {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.DgvIcone {
    width: 30px;
    height: 30px;
    /* border: 1px solid green; */
    
}

.c1 {
    width: 50px;
}

.c2 {
    width: 150px;
}

.c3 {
    width: 150px;
}

.c4 {
    width: 150px;
}

.c5 {
    display: flex;
    justify-content: space-around !important;
    align-items: space-around !important;
    flex-direction: row !important;
    width: 150px;
}

.janelaView {
    Display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.75);
}

.view {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #aaa;
    padding: 10px;
    border-radius: 5px;
}

.campo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
    width: 500px;
}

.campo input {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

.rodape {
    align-items: center !important;
}

.btn_ok {
    background-color: #480;
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
}